<!-- Login.cshtml -->
@{
    ViewData["Title3"] = "Login";
}
<h2>@ViewData["Title4"]</h2>
<form method="post" action="/api/Account/Login">
<div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" required>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="links">
        <a href="@Url.Action("ResetPasswordView", "View")">Reset Password?</a>
        <a href="@Url.Action("ForgotUsernameView", "View")">Forgot Username?</a>
        <a href="@Url.Action("Register", "View")">Register</a>
    </div>
</form>