<!-- Register.cshtml -->
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <label for="confirmpassword">ConfirmPassword</label>
    <input type="password" id="confirmpassword" name="confirmpassword" required />

    <button type="submit">Register</button>
</form>
