@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form method="post" action="/Account/Register">
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email" required autocomplete="username" />
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" required autocomplete="new-password" />
    <label for="ConfirmPassword">ConfirmPassword:</label>
    <input type="password" id="ConfirmPassword" name="ConfirmPassword" required autocomplete="new-password" />
    <button type="submit">Register</button>
</form>
