<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "Password Reset Email Sent";
}
<h2>@ViewData["Title"]</h2>
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Password Reset Email Sent</h1>
        <p class="lead">An email has been sent to your registered email address with instructions on how to reset your password. Please follow the instructions in the email to complete the reset process.</p>
        <hr class="my-4">
        <a href="/" class="btn btn-success">Go back to Home</a>
    </div>
</div>
</html>