@{
    ViewData["Title"] = "Enter your Email and click Reset Password to Proceed.";
}

<h2>@ViewData["Title"]</h2>

@model MyEcommerceBackend.Models.ResetPasswordModel

<h2>Reset Password</h2>

<form method="post" asp-action="PasswordReset">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="email-label">Email Address:</span>
        </div>
        <input type="email" id="Email" name="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Reset Password</button>
</form>